.card{
    background-color: fuchsia;
    color: yellow;
}
.card1{
background-color: blue;
color: white;
}
.card2{
    background-color: blueviolet;
    color:azure
}
.card3{
    background-color: aqua;
    color: cornsilk;
}
.card4{
    background-color: yellow;
    color: fuchsia;
}